<div class="card folder-card">
  <div class="card-body">
    <h6 class="card-title">رقم الملف : 17819</h6>
    <p class="card-text">تاريخ الخبرة : 12/11/2021</p>
    <p class="card-text"><small class="text-muted">الاتعاب : 121 درهم</small></p>
    <p class="card-text"><small class="text-muted">تحصيل الاتعاب : لا</small></p>
    <div class="action">
      <a href="#" class="view-more" (click)="onView()">
        المزيد
      </a>
      <a href="#" class="delete" (click)="onDelete()" >
        <i class="bi bi-trash"></i> ازالة
      </a>
      <a href="#" class="update" (click)="onUpdate()">
        <i class="bi bi-pencil"></i> تعديل
      </a>
    </div>
  </div>
</div>
