<div class="card folder-card">
  <div class="card-body">
    <h6 class="card-title">رقم الملف : {{ folder.fileNumber }}</h6>
    <p class="card-text">تاريخ الخبرة : {{ folder.expertiseDate | date:'longDate':'':'ar' }}</p>
    <p class="card-text"><small class="text-muted">الاتعاب : {{ folder.fees }} درهم</small></p>
    <p class="card-text">
      <small
        class="text-muted"
        [ngClass]="{
          'text-success': folder.feesCollected,
          'text-danger': !folder.feesCollected
        }"
      >
        <ng-container *ngIf="folder.feesCollected; else noFees">
          تحصيل الاتعاب: نعم
        </ng-container>
        <ng-template #noFees>
          تحصيل الاتعاب: لا
        </ng-template>
      </small>
    </p>
        <div class="action">
      <a   [routerLink]="['/detaille-folder/blalala']"  class="view-more" (click)="onView()">
        المزيد
      </a>
      <a href="#" class="delete" (click)="onDelete()" >
        <i class="bi bi-trash"></i> ازالة
      </a>
      <a href="#" class="update" (click)="onUpdate()">
        <i class="bi bi-pencil"></i> تعديل
      </a>
    </div>
  </div>
</div>
