<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <ng-container *ngFor="let field of data.fields">
      <mat-form-field appearance="outline">
        <mat-label>{{field.label}}</mat-label>

        <ng-container [ngSwitch]="field.type">
          <!-- Input field for all types except 'dropDown' -->
          <input *ngSwitchDefault matInput [formControlName]="field.name" [type]="field.type || 'text'">

          <!-- Dropdown field for 'dropDown' type -->
          <mat-select *ngSwitchCase="'dropDown'" [formControlName]="field.name">
            <!-- Pass the whole object as the value -->
            <mat-option *ngFor="let option of field.list" [value]="option">
              {{ option.description }}
            </mat-option>
          </mat-select>
        </ng-container>

      </mat-form-field>
    </ng-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">إلغاء</button>
  <button mat-button [mat-dialog-close]="form.value" [disabled]="!form.valid">إضافة</button>
</mat-dialog-actions>
